 //colors
 $baby-blue: #e6f7ff;
 $dark-blue: #1a354f;
 $light-blue: #2e4963;
 $black: #000;
 $light-gray: #eee;
 $dark-gray: #555;
 $green: #33cc66;
 $dark-orange: #ff8000;
 $light-orange: #ffa500;
 $red: #ff3333;
 $white: #fff;

 //fonts
 $Lato: 'Lato', sans-serif; 

 //shadows
 $box-shadow: 0 .5rem .5rem rgba(0,0,0,0.5);
 $text-shadow: 0 1rem 1rem rgba(0,0,0,.2);